body {
    background: white;
    font-size: 19px;
    font-family: Helvetica;
    font-weight: 100;
}

h1 {
    color: #111;
    margin: 0px;
}

#go {
    margin: 10px;
}

#search {
    width: 100%;
}


#back {
    color: #111;
    -- text-decoration: none;

}

th, h1 {
    font-weight: normal;
}

#loading {
    text-align: center;
    font-size: 30px;
    color: #611;
}

#loadingcircle {

    position: absolute;
    left: 50%;
    right: 50%;
    border-radius : 30%;
    border-top    : 4px solid #00FFFF;
    border-right  : 4px solid #FF0000;
    border-bottom : 4px solid #00FF00;
    border-left   : 4px solid #FF8800;
    background: linear-gradient(to bottom right, #FFF 0%, #FFF 50%, #FF0 50%, #FF0 100%);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#list {
    margin-top: 10px;
    width: 100%;
    background: #FC9;
}

#list > tr:nth-child(even) {
    background-color: #FFF5CB;
}
#list > tr:nth-child(odd) {
    background-color: #FFEDA1;
}


td {
    text-align: left;
}

th {
    text-align: center;
}

#center {
    text-align: center;
}

#compLink {
    font-size: 9px;
}
