body {
    background: white;
    font-size: 19px;
    font-family: Helvetica;
}

h1 {
    color: #111;
    margin: 0px;
}

#search {
    width: 100%;
}

#search > tr > th {
    font-weight: normal;
}

#list {
    margin-top: 10px;
    width: 100%;
    background: #FC9;
}

#list > tr:nth-child(even) {
    background-color: #FFF5CB;
}
#list > tr:nth-child(odd) {
    background-color: #FFEDA1;
}


td {
    text-align: left;
}

th {
    text-align: center;
}

#center {
    text-align: center;
}

#compLink {
    font-size: 9px;
}
